<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}
<head>
    <title>{% block title %}Home{% endblock title %} | SMS</title>
    {% block head_css %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" />
    	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"  />
    {% endblock head_css %}
</head>


<body>

    {# Navigation Bar #}
    <header>
        <div class="navbar">
        <ul>
            <li><img src="{% static 'logo.png' %}" /></li>
            <li>{% block pagename %}My Site{% endblock pagename %}</li>
            <li><a href="/rango/">Home</a></li>
            <li><a href="/rango/about">About</a></li>
            {% if user.is_authenticated %}
                <li>Hey {{ user.username }}!</li>
            {% endif %}
        </ul>
        </div>
    </header>

    {# Document Body #}
	<div class="mainpage">
		{% block content %}
		{% endblock %}
	</div>

    {# The Footer #}
    <footer class="footer">
        <p>Here's the footer.</p>
    </footer>
</body>

</html>
