{% extends 'rango/base.html' %}

{% block content %}

<section>
    {% if category %}
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No pages currently in this category.</strong>
        {% endif %}
        <a href="/rango/category/{{ category_name_url }}/add_page/">Add pages</a>
    {% else %}
        The specified category {{ category_name }} does not exist.
    {% endif %}
</section>

{% endblock %}
