{% extends "rango/base.html" %}

{% block title %}Rango Registration{% endblock title %}

{% block content %}
<section>
    <h1>Register with Rango</h1>

    {% if registered %}
    Rango says: <strong>thank you for registering</strong>.
    {% else %}
    <br />

    <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Display user and userprof forms. Py as_p methods wrap each element in a <p> causing them to display on newlines. -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <!-- button for submit -->
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
</section>
{% endblock %}
