{% extends quotes/base.html %}

<section>

<p>
    I can write these things since I know they'll be buried in code and no guy I'm dating will creep through my laptop and see them.
    <br />
    Tonight I find myself, once again, sleeping at home instead of my boyfriend's house. I don't stay here all night often- but I've been spending more time alone at night lately.
    <br />
    It's pretty common for me to be... I wouldn't say scared, but anxious, when I'm alone at night. Honestly, my fear is probably worse than most women's (maybe?)... But still. I decided I should maybe research how other women feel safe staying home alone at night. I have security doors on both entrances to my house- they're steel- they have deadbolts.

    Even so, I am apprehensive to sleep in my own bedroom out of fear that someone could break into my house and have me cornered. Instead, I sleep on the couch because A) I am much closer to the doors and would be able to hear being broken into more easily B) there are two exits within close reach. I have never heard of a man with this issue (obviously that doesn't mean they don't exist) but I've met many women who have preferred to sleep on the couch- for the same reasons. It's not extremely comfortable, it hurts my back, I have to remove the cushions every night and set up a makeshift bed... but I do it because rape and murder and creeps. I'm not afraid of being burgled in any way. The only thing I have in this house that is very much in jeopardy is my body/life.

    I've always been a "fraidy-cat"- true. But, I've had experiences that reinforce my feelings of vulnerability. Many. And these aren't just- "I was drunk and sex blah blah"- shit that men refuse to listen to. I mean full-on creepy, scary, I-can't-sleep for a month type of shit.

    I went on a roadtrip with my dad this summer and he was honestly shocked about these things. They're normal to me because I have experienced it so much, as have my friends... but it was weird to me that I even had to explain it to him. He's 55! How do you not know this???

    Well, I'm looking into reducing my anxiety about living alone (and on the first floor). Isn't it funny how women worry about living on the bottom floor? Do men worry about this? I doubt it- or if they do it's likely regarding burglary- not assault.

    Apparently a few nights ago on Halloween there was some freak dressed as a scary clown standing outside of my front window with a machine gun..... Was it real? No idea. I wasn't here, I just heard from my neighbor. I'm pretty much 109903092834093284092384% sure it was a dude... because that's the shit they do. Makes them feel good about themselves??? Idk.

    It's funny how my boyfriend randomly mentions that I "hate men"... and I argue that I absolutely don't. I have many male friends... I'm a bartender. I do not hate men. But I refuse to ignore their actions. I talk about them- I express my disgust when it's warranted- yet I'm a man-hater. Odd.

    Picture men being consistently attacked and SEXUALLY VIOLATED by black people for the last 09w834902384203948 years. I know that's a very taboo thing to say... even if we say violated by middle eastern people... And they expressed distrust of said-race. Even if we say people in red shirts, people with blue eyes, whatever. It wouldnt be this stigmatized thing- a "feminazi". You'd just be stating the fucking facts... as they are. I don't hate men- I hate my fear of men- and the fact that it's necessary, as evidenced by my life experiences with men.

    I actually feel very lucky. I have never been raped. I've been hammered and had sex with people I truly regretted the next day- but I did it. I take responsibility. It wasn't rape. I know that it wasn't. Or at least, I haven't gotten to the point in my life where I feel that that was rape. I've had sex with men older than me when I was 15 and 16- my parents knew- they hated it- but there were no charges pressed or even discussed. So... the bullshit about every rape accusation being perpetuated by drunk girls or mad parents is total bullshit.

    Haaaaa omg I just remembered this conversation I had with this guy at work (and honestly anymore I just internally roll my eyes and nod my head), but he was trying to defend some teacher that had sex with a 15 year old student!!!! Oh, well he really loved her. UMMMMMMMMM. Then a woman with him said- oh well I met him he was a really nice guy, she was just a little slut, even her parents defended him and refused to press charges because they knew she was a little slut, but he lost his job and got his teaching license taken away-. Lmfao. OH how sad. Pooooooor guy. Gawd.

    Okay anyway rant over- WHICH is something I ALWAYS have to say by the way- so I can awknowledge to people that my thoughts and feeling about this matter are a "rant". Makes them get less mad :-) . Try it. 
